.breadcrumb {
  color: #6d0101;
  font-weight: 600;
  font-size: 11px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  word-spacing: 8px;
}
.breadcrumb a {
  text-decoration: none;
  color: #002be9;  
}
.main-container {
  background: #fff;
  padding: 17px;
  margin: 0 auto;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 4px;
}
.pageTitle {
  margin: 0 2px 10px 0;
  border-bottom: 1px solid #ccc;
}
.main-container h2 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px;
}
.search-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 8px;
}
.atten-filter,
.employe-filter,
.branch-filter,
.hoUser-filter {
  display: flex;
  align-items: center;
  gap: 2px;
}
.search-input {
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.4);
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  height: 30px;
  outline: none;
  padding: 0 8px;
  font-size: 12px;
}
.search-row .attn-fliter .select,
.history-btn,
.Today-btn,
.month-filter,
.date-filter,
.addUser-btn,
.assignBr-btn,
.addBranch-btn,
.user-btn,
.branch-btn,
.edit-btn,
.reset-device,
.edit-user,
.view-user {
  appearance: none;
  background-color: #ffffffd3;
  border: 1px solid rgba(27, 31, 35, 0.4);
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
              rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
  padding: 4px 10px;
  transition: background-color 0.2s ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 3px;
}
.history-btn:hover,
.Today-btn:hover,
.status:hover,
.search-row .attn-fliter .select:hover,
.button-setting button:hover {
  background-color: #f3f4f6;
}
.edit-btn:hover,
.reset-device:hover,
.edit-user:hover {
  transform: scale(1.1);
  background-color: #f3f4f6;
}

.history-btn:disabled,
.Today-btn:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: not-allowed;
}

.history-btn:active,
.Today-btn:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
}

.history-btn:focus,
.Today-btn:focus {
  outline: none;
}
.table-container {
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.table-container thead th {
  position: sticky;
  top: 0;
  background: #f0f0f07a;
  z-index: 2;
  font-size: 13px;
  font-weight: 600;
  color: #222222ec;
  padding: 10px;
  text-align: left;
}
.table-container tbody {
  display: block;
  overflow-y: auto;
  max-height: auto;
}

/* മൊബൈൽ */
@media (max-width: 600px) {
  .table-container tbody {
    max-height: 50vh;
  }
}

/* ടാബ്ലെറ്റ് */
@media (min-width: 601px) and (max-width: 1024px) {
  .table-container tbody {
    max-height: 65vh;
  }
}

@media (min-width: 1366px) {
  .table-container tbody {
    max-height: 56vh;
  }
}

@media (min-width: 2024px) {
  .table-container tbody {
    max-height: 56vh;
  }
}

.table-container thead,
.table-container tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
thead {    
 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

td {
  padding: 12px 10px;
  border-bottom: 1px solid #aeafafc7;
  text-transform: capitalize;
  font-weight: 500;
  color: #000;
  font-size: 12px;
  text-align: left;
}

.text-center {
  text-align: center;
}
.company {
  width: 12%;
}
.view-btn {  
  border: none;
  outline: none;
  background: none;
}
.view-btn img {
  width: 23px;
}
.view-btn:hover{
  transform: scale(1.1);
}
.action {  
  padding-left: 20px;
}
.date-range {
  display: flex;
  gap: 10px;
  align-items: center;
}

.date-range label {
  font-weight: 500;
}
.date-range .btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.code {
  text-transform: uppercase;
  width: 8%;
}

