@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@1,14..32,900&family=Roboto:wdth,wght@88.1,100..900&display=swap');
/*body {
    margin: 0;
    background-image: url(../images/bg.png);
     background-repeat: no-repeat;
        background-size:auto;
        background-position: center;
        background: transparent ;
   font-family: "Roboto", sans-serif;
}*/
body {
    position: relative;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #e2e2e2;
    background-image: url("../images/bg2.png");
    background-repeat: no-repeat;
    background-position: center center;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-repeat: inherit;
    background-size: inherit;
    background-position: inherit;
    opacity: 0.10; /* adjust transparency here */
    z-index: -1; /* keep it behind the content */
}

::placeholder {
  text-transform: capitalize;
  font-size: 12px;
  color: #c5c5c5;
}

/* ---------- Topbar ---------- */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #b40000;
  padding: 7px 16px;
  color: white;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.menu-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.2s;
}
.menu-icon:hover,
.signout-btn:hover {
  transform: scale(1.1);
}

.icon-btn {
  width: 28px;
  height: 28px;
  margin-left: 10px;
  cursor: pointer;
}

/* ---------- Side Menu ---------- */
.side-menu {
  position: fixed;
  top: 0;
  right: -280px; /* hidden initially */
  width: 260px;
  height: 100%;
  background: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: right 0.3s ease;
  z-index: 200;
  display: flex;
  flex-direction: column;
}

.side-menu.open {
  left: 0;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
 padding: 9px 15px;
  background: #b40000;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  color: white;
}
.close-btn:hover {
    transform: scale(1.1);
}

.menu-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.menu-list li {
  padding: 13px 8px;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

li img {
  width: 18px;
  height: 18px;
  background-color: #b40000;
  border-radius: 50%;
  padding: 3px;
}

.menu-list a,
.logout-btn {
  text-decoration: none;
  color: #111827;
  font-size: 13px;
  display: block;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.menu-list li:hover {
  background: #e5e7eb;  
}
li:hover{
  transform: scale(1.1);
}

/* ---------- Overlay ---------- */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 150;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

.side-menu-cont {
  position: relative;
  height: 100%;
  padding: 10px;
}

.user_info {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  background: #f8fafc;
  border-top: 1px solid #b40000;
}

.user_info img {
  width: 20px;
  height: 20px;
  background-color: #b40000;
  border-radius: 50%;
  padding: 6px;
}

.user_email p {
  margin: 0;
  line-height: 1.2;
}
.user_email .user {
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}
.user_email .email {
  color: #6b7280;
  font-size: 11px;
}
.signout-btn{
  background:none;
  border: none;
} 
